

  .shimmer-boxes {
    display: flex;
    justify-content: space-between;
    padding:1rem;
    width: 80vw;
  }
  
  .shimmer-box {
    width: 12rem;
    height: 10rem;
    border-radius: 1rem;
   
    background:rgb(171, 170, 170);
    margin-right: 2rem;
    animation: shimmer 10s infinite;
    margin-right: 1rem;
  }
  .box1{
    background: linear-gradient(to right, rgb(11, 75, 1), transparent);
  }
  .box2{
    background: linear-gradient(to right, rgb(47, 60, 170), transparent);
  }
  .box3{
    background: linear-gradient(to right, rgb(72, 232, 238), transparent);
  }
  .box4{
    background: linear-gradient(to right, rgb(212, 192, 37), transparent);
  }
  .box5{
    background: linear-gradient(to right, white
    , transparent);
  }
  @keyframes shimmer {
    0% {
      background-position: -200px;
    }
    100% {
      background-position: 200px;
    }
  }



  .loading-shimmer {
    animation: shimmer 10s infinite linear;
    background: linear-gradient(to right, #a4a5a7 4%, #e2e2e2 25%, #eff1f3 36%);
    background-size: 1000px 100%;
}

th {
 text-align: left; 
}

.table-shimmercontainer{
    height:70vh;
    padding: 1rem;
    width:90vw;
}

.t-row{
    margin-bottom: 5rem;
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }
    100% {
        background-position: 1000px 0;
    }
}

.line {
  height: 3rem;
  width: 90vw;
  margin: 1rem;
}