.black {
  color: black;
}

.blue {
  background-color:white;
  opacity: 0.2;
}
.darkerBlue{
  background-color:#20646e;
  
}
.darkBlue{
  background-color: #3BACB6;
 
}
.lightBlue{
  background-color: #82DBD8;

}
.lighterBlue{
  background-color: #d0e8e7;

}
.custom-nav-dropdown > a.nav-link {
  color: white !important;
}
.btnColor{
  background-color:rgb(5, 102, 137);
  color: white;
  padding:0.4rem 1rem;
  margin:auto;
  margin-top: 2rem;
  
  border:none;
  border-radius: 1rem;
}
.btnColor-light{
  background-color:rgb(9, 82, 108);
  color: black;
  padding:0.4rem 1rem;
  
  margin:auto;
  margin-top: 2rem;
  border:none;
  border-radius: 1rem;
  /* width:70%; */
  display: flex;
  justify-content: center;
}
.backgroundImage{
  
    position: relative;
    background: url('../src/assets/crmPic.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    filter: brightness(0.5)
  }
  
 