.black {
  color: black;
}

.blue {
  background-color:white;
  opacity: 0.2;
}

.btnColor{
  background-color:rgb(5, 102, 137);
  color: white;
  padding:0.4rem 1rem;
  margin:auto;
  margin-top: 2rem;
  
  border:none;
  border-radius: 1rem;
}
.btnColor-light{
  background-color:rgb(9, 82, 108);
  color: black;
  padding:0.4rem 1rem;
  
  margin:auto;
  margin-top: 2rem;
  border:none;
  border-radius: 1rem;
  /* width:70%; */
  display: flex;
  justify-content: center;
}